.profile_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  min-width: 300px;
  box-shadow: rgb(34 34 34 / 29%) 0px 2px 8px 0px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
  background-color: #222222;
}

.profile h4 {
  font-size: 22px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  padding: 10px 0;
  margin: 5px 0;
  background-color: var(--main-color);
}

.profile p {
  padding: 0 10px;
}

.profile .profile_img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px 0;
}

.profile .profile_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.profile_log {
  padding: 10px 18px;
  margin-bottom: 20px;
}
