.social_links {
  display: flex;
  align-items: center;
}

.social_link {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  margin: 0 6px;
  border-radius: 15px;
  cursor: pointer;
}

.social_link>a {
  text-decoration: none;
  color: #fff;
  margin-top: 2px;
}
