.dropdown {
  width: 150px;
  position: relative;
}

.dropdown .dropdown_btn {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--main-color);
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown .dropdown_content {
  position: absolute;
  top: 110%;
  left: 0;
  background-color: var(--dark-color-light);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-weight: 500;
  color: #fff;
  width: 100%;
  z-index: 999;
}

.dropdown .dropdown_content .dropdown_item {
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s;
  color: #ddd;
}

.manage_all_order td {
  padding: 0.8rem 1.6rem;
}

.dropdown .dropdown_content .dropdown_item:hover {
  background-color: #2c2c2c;
}

.btn_round.pending {
  background-color: var(--main-color);
  font-weight: 600;
}

.btn_round.on-going {
  background-color: #ffb247;
  color: #2c2c2c;
  font-weight: 600;
}

.btn_round.done {
  background-color: #59af8a;
  color: #2c2c2c;
  font-weight: 600;
}
