.what_we_do {
  background: url(../../../assests/images/slider/bg_slider1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  right: auto !important;
  color: var(--main-color) !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  left: auto !important;
  color: var(--main-color) !important;
}

.service_header p {
  color: #e9e9e9;
}

@media screen and (max-width: 778px) {
  .service_header p {
    font-size: 14px !important;
  }
}
