:root {
  --main-color: #fa3263;
  --main-color-light: #fa4a76;
  --dark-color: #171717;
  --dark-color-light: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-color: var(--dark-color);
}

.btn_round {
  background-color: var(--main-color);
}

.btn_round,
.btn_round_outline {
  border: none;
  color: #fff;
  max-width: 200px;
  width: 100%;
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}


.btn_round_outline {
  background-color: transparent;
  border: 2px solid #fff;
}

.btn_round:hover {
  color: #ffffffe8;
  background-color: var(--main-color-light);
  box-shadow: rgba(250, 76, 119, 0.205) 0px 4px 12px;
  border-color: var(--main-color-light);
}

.btn_round_outline:hover {
  color: var(--main-color);
  border-color: #fff;
  background-color: #fff;
}

.fa.fa-star.fa-2x {
  color: var(--main-color);
}

.img-fuild {
  width: 100%;
}

.fas.fa-info-circle {
  font-size: 20px;
  color: #00b6d2;
}

/* spinner */
.spinner_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark-color-light);
  z-index: 9999;
  transition: all 0.3s ease-in;
  opacity: 0;
  pointer-events: none;
}

.spinner_container.active {
  opacity: 1;
  pointer-events: all;
}

.spinner_wrapper {
  width: 200px;
  height: 200px;
}

@keyframes animation {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
  }

  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
  }

  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
  }
}

#spinner {
  transform-origin: center;
  animation-name: animation;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier;
  animation-iteration-count: infinite;
}
